/* Custom Properties */
:root {
  --white: #EFE9ED;
  --darkblue: #19314D;
  --lightblue: #409CCE;
  --red: #CA4959;
  --green: #96AC75;
}

/* Globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--white);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-size: 18px;
  overflow-x: hidden;
}

.container {
  width: 95%;
  margin: 0 auto;
}

ul, ol{
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

/* Navigation */
#navbar {
  background: var(--darkblue);
  position: fixed;
  width: 100%;
  text-align: end;
}

#navbar li {
  display: inline-block;
  margin: 15px 40px;
}

#navbar li a {
  color: var(--white);
}

#navbar li a:hover {
  transition: 0.5s;
  color: var(--lightblue);
}

/* Section: Welcome */
#welcome-section {
  display: block;
  height: 100vh;
  width: 100vw;
  background: var(--darkblue);
}

#welcome-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#welcome-section .container #welcome-content {
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
}

#welcome-section .container p {
  text-align: center;
  color: var(--lightblue);
  font-size: 1.3rem;
}

/* Section: Projects */

#projects {
  margin-top: 50px;
}

#projects .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#projects .container h2 {
  color: var(--lightblue);
}

#projects .container #projectlist {
  align-self: center;
}

#projects .container #project-list .project-tile {
  display: inline-block;
  color: var(--lightblue);
  width: 280px;
  height: 350px;
  border: 2px solid var(--red);
  border-radius: 3px;
  overflow: hidden;
  margin: 40px 40px;
}

#projects .container #project-list .project-tile .card-image {
  height: 80%;
  border-bottom: 2px solid var(--red);
  border-top: none;
}

#projects .container #project-list .project-tile .project-title {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects .container #project-list .project-tile .project-title h3{
  width: 100%;
  font-size: initial;
}

#projects .container #project-list .project-tile .card-labels {
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#projects .container #profile-link {
  background: var(--lightblue);
  border: 2px solid var(--darkblue);
  border-radius: 3px;
  padding: 8px 30px;
  color: var(--black);
}

#projects .container #profile-link:hover {
  background: var(--darkblue);
  border: 2px solid var(--lightblue);
  transition: 0.5s;
  color: var(--white);
}

/* Section: Contact */
#contact {
  margin-top: 75px;
  text-align: center;
  background: var(--lightblue);
}

#contact #contact-text {
  padding-top: 150px;
  padding-bottom: 100px;
  font-size: 1.5rem;
}

#contact #contact-text p {
  font-size: 1.1rem;
}

#contact #contact-links {
  padding-bottom: 150px;
}

#contact #contact-links a {
  display: inline-block;
  color: var(--darkblue);
  background: var(--white);
  border: 2px solid var(--darkblue);
  border-radius: 50%;
  height: 110px;
  width: 110px;
  margin: 0 35px 45px 35px;
  line-height: 108px;
}

#contact #contact-links a:hover {
  display: inline-block;
  color: var(--white);
  background: var(--darkblue);
  border: 2px solid var(--white);
  border-radius: 50%;
  height: 110px;
  width: 110px;
  margin: 0 35px 45px 35px;
  line-height: 108px;
  transition: 0.5s;
}

/* Footer */
footer {
  background: var(--darkblue);
  text-align: right;
  padding-top: 20px;
  padding-bottom: 5px;
}


/* Media query's */
@media only screen and (max-width: 500px) {
  #navbar {
    text-align: center;
    /* position: initial; */
  }

  #navbar li {
    margin: 15px 25px;
  }

  #projects .container #project-list .project-tile {
    display: inline-block;
    color: var(--lightblue);
    min-width: 280px;
    min-height: 350px;
    border: 2px solid var(--red);
    overflow: hidden;
    margin: 40px 10px;
  }
}

/* Labels */
.wip-label {
  border: 1px solid orangered;
  border-radius: 50%;
  background: orangered;
  padding: 1px 15px;
  color: black;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
}